body {
    background-color: black;
}
/* prvi zadatak */
button {
    margin-left: 10px;
    margin-top: 10px;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background-color: rgb(24, 23, 23);
    transition: 0.25s;
}

.raise {
    color: orange;
    border: 2px solid orange;
}

.raise:hover {
    border: 2px solid rgb(235, 235, 122);
    color: rgb(235, 235, 122);
    box-shadow: 0 5px 12px rgb(235, 235, 122);
    transform: translateY(-4px);
}

.fill {
    color: rgb(51, 163, 51);
    border: 2px solid rgb(51, 163, 51);
    transition: background-position 1s;
    background-image: linear-gradient(to bottom, black  50%, rgb(51, 163, 51)  50%);
    background-size: 100% 200%;
}

.fill:hover {
    border: 2px solid rgb(102, 179, 102);
    color: rgb(199, 238, 198);
    background-position: 0 -100%;
}

.pulse:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 1s;
    border: 2px solid orange;
    color: orange;
}


@keyframes pulse {
    0% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(192, 92, 25, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(243, 173, 43, 0.4);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(240, 184, 63, 0.0);
    }
}

/* Drugi zadatak  */

.card3d {
    width: 300px;
    height: 160px;
    border: 4px solid green;
    margin: 80px 60px;
    perspective: 600px;
    transform-style: preserve-3d;
  }

  .card3d .card3d-div {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
}

.card3d .card3d-div .card3d-inside {
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(238, 220, 54, 0.8);
}

.card3d .card3d-div .card3d-inside p span {
    background-color: black;
    color: rgb(202, 184, 21);
}

.card3d .card3d-div .card3d-inside p {
    margin-top: 20%;
}

.card3d:hover .card3d-div .card3d-inside {
    transform: rotateY(40deg);
}

/* Treci zadatak */

.card {
    margin: 60px;
    position:relative;
    width: 300px;
    height: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}
.card:before, 
.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index: -1;
}

.card:hover:before{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}
.card:hover:after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card .img-box {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
}

.card:hover .img-box {
    bottom: 80px;
}

.card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    color: gray;
}

.card .details h2 span {
    font-weight: 500;
    font-size: 15px;
    color: rgb(212, 90, 90);
}